{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "no-param-reassign": [2, { "props": false }],
    "react/jsx-props-no-spreading": 0,
    "class-methods-use-this": 0,
    "no-multi-assign": 0,
    "import/prefer-default-export": 0,
    "no-undef":"off",
  }
}
